.repo-section {
  height: 100%;
  background: linear-gradient( #412A60, #7B3146, #0371AC);
  padding-bottom: 80px;
}

/* Header Section */
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.horizontal {
  width: 15px;
  margin: 15px;
  height: 3px;
  border: none;
  background: white;
}

h3 {
  color: white;
  font-family: 'Charm', cursive;
  font-size: 30px;
  letter-spacing: 1.0px;
  font-weight: bold;
}

/* Repo Section */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.col-md-3 {
  background-color: white;
  height: 400px;
  margin-left: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.repo-name {
  color: #0371AC;
  font-weight: bold;
  font-size: 24px;
}

.repo-desc {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}

.desc {
  margin-left: 5px;
  margin-right: 5px;
}

.blueBtn {
  margin-top: 30px;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #0371AC;
  color: white;
  font-family: 'Charm', cursive;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}