<div class="repo-section">
  <div class="section-header">
    <hr class="horizontal">
    <h3>User's Repositories</h3>
    <hr class="horizontal">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="repo-name">REPOSITORY NAME</p>
        <p class="repo-desc">Repository Description</p>
        <p class="desc">Lorem ipsum dolor sit amet. 33 impedit dolorem aut enim molestiae et sint nobis est sunt quis id ipsum fugit. Ut quibusdam quae!</p>

        <button class="blueBtn">VIEW REPOSITORY</button>
      </div>

      <div class="col-md-3">
        <p class="repo-name">REPOSITORY NAME</p>
        <p class="repo-desc">Repository Description</p>
        <p class="desc">Lorem ipsum dolor sit amet. 33 impedit dolorem aut enim molestiae et sint nobis est sunt quis id ipsum fugit. Ut quibusdam quae!</p>

        <button class="blueBtn">VIEW REPOSITORY</button>
      </div>

      <div class="col-md-3">
        <p class="repo-name">REPOSITORY NAME</p>
        <p class="repo-desc">Repository Description</p>
        <p class="desc">Lorem ipsum dolor sit amet. 33 impedit dolorem aut enim molestiae et sint nobis est sunt quis id ipsum fugit. Ut quibusdam quae!</p>

        <button class="blueBtn">VIEW REPOSITORY</button>
      </div>
    </div>
  </div>
</div>
