<!-- Git Api Tip Section -->
<div class="git-tip">
  <div class="section-header">
    <hr class="blueHorizontal">
    <h3 class="blueHeader">Github API Tip</h3>
    <hr class="blueHorizontal">
  </div>

  <p>This API allows <strong>5,000</strong> requests per hour with an API key, but only <strong>60</strong> requests <br> per hour without one.</p>
</div>

<!-- Footer Section -->
<div class="footer">
  <div class="social">
    <a href="https://www.linkedin.com/in/shalyne-waweru-b2b965212/" class="fa fa-linkedin"></a>
    <a href="https://github.com/Shalyne-Waweru" class="fa fa-github"></a>
    <a href="https://www.facebook.com/shalyne.wangari" class="fa fa-facebook"></a>
  </div>
  <hr>
  <p>Shalyne <span>&#169;</span> 2022. G-Finder. All Rights Reserved.</p>
</div>
