@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

.h-background {
  background-image: url(../../assets/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.intro {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 45%;
  position: relative;
  text-align: center;
}

.intro h1 {
  font-size: 65px;
}

.charm {
  font-family: 'Charm', cursive;
  font-weight: 100;
}

.intro p {
  font-size: 23px;
  line-height: 1.6;
  margin-top: 10px;
}

.searchBtn {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #0371AC;
  color: white;
  font-family: 'Charm', cursive;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.searchBtn a {
  color: white;
  text-decoration: none;
}

.searchBtn a:visited {
  color: white;
  text-decoration: none;
}

hr {
  margin-top: 450px;
  height: 5px;
  width: 100px;
  border: none;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}