.profile-section {
  background-color: white;
  margin-bottom: 150px;
  width: 100%;
}

/* Header Section */
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.horizontal {
  width: 15px;
  margin: 15px;
  height: 3px;
  border: none;
  background: #0371AC;
}

h3 {
  color: #0371AC;
  font-family: 'Charm', cursive;
  font-size: 30px;
  letter-spacing: 1.0px;
  font-weight: bold;
}

/* Search Form */
.search-section {
  color: black;
  display: flex;
  padding: 2px;
  border: none;
  border-radius: 10px;
  width: 350px;
  height: 50px;
  background-color: #BCC9DB;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 16px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  text-indent: 10px;
  color: rgb(93, 91, 91);
}

button[type="button"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

/* Info Section */
.container {
  height: 600px;
  width: 1000px;
  margin-top: 50px;
  border-width: 35px;
  border-style: solid;
  border-image: linear-gradient( #412A60, #7B3146, #0371AC) 1;
}

/* Left Column */
.left {
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 530px;
}

.profile-img {
  height: 300px;
  width: 300px;
  border: 10px solid #412A60;
  border-radius: 100%;
  margin-top: 10px;
  padding: 20px;
}

.left button {
  margin-top: 40px;
  height: 50px;
  width: 200px;
  font-family: 'Charm', cursive;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: transparent;
}

button i {
  text-indent: 20px;
}

/* Right Column */
.right {
  height: 530px;
}

.profile-info {
  margin-top: 100px;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.details img {
  height: 30px;
  width: 30px;
}

.details p {
  margin-top: 15px;
  margin-left: 10px;
}

.blue {
  color: #0371AC;
}

.purpleBtn {
  margin-left: 50px;
  margin-top: 40px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #412A60;
  color: white;
  font-family: 'Charm', cursive;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}