<div class="profile-section">
  <div class="section-header">
    <hr class="horizontal">
    <h3>User's Info</h3>
    <hr class="horizontal">
  </div>

  <!-- Search Section -->
  <div class="search-section">
    <input type="search" id="username" placeholder="Enter Github Username" #search required>
    <button type="button" (click)="getProfile(search.value)">Search</button>
  </div>

  <!-- Info Section -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 left">
        <img class="profile-img" src="../../assets/person-icon.png">
        <button>LEARN MORE<i class="fa fa-github"></i></button>
      </div>

      <div class="col-md-6 right">
        <div class="profile-info">
          <div class="details">
            <img src="../../assets/person-icon.png">
            <p>Github Username : </p>
            <p><strong class="blue">Shalyne-Waweru</strong></p>
          </div>

          <div class="details">
            <img src="../../assets/followers-icon.png">
            <p>Followers : </p>
            <p><strong class="blue">10</strong></p>
          </div>

          <div class="details">
            <img src="../../assets/following-icon.png">
            <p>Following : </p>
            <p><strong class="blue">15</strong></p>
          </div>

          <div class="details">
            <img src="../../assets/folders-icon.png">
            <p>No. of Repositories : </p>
            <p><strong class="blue">30</strong></p>
          </div>

          <div class="details">
            <img src="../../assets/date-icon.png">
            <p>Joined on : </p>
            <p><strong class="blue">Apr 10 2022</strong></p>
          </div>

          <button class="purpleBtn">SHOW REPOSITORIES</button>
        </div>
      </div>
    </div>
  </div>
</div>
