<div class="profile-section">
  <div class="section-header">
    <hr class="horizontal">
    <h3>User's Info</h3>
    <hr class="horizontal">
  </div>

  <!-- Search Section -->
  <form class="search-section">
    <input type="search" id="username" placeholder="Enter Github Username" required>
    <button type="submit">Search</button>
  </form>

  <!-- Info Section -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 left">
        <img class="profile-img" src="../../assets/person-icon.png">
        <button>LEARN MORE<i class="fa fa-github"></i></button>
      </div>

      <div class="col-md-6 right">

      </div>
    </div>
  </div>
</div>
